{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="{% url 'calibus:dashboard' %}" class="brand-link">
    <img src="{% static 'img/logo.png' %}" alt="CaliBUS Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
    <span class="brand-text font-weight-light"><b>Cali</b>BUS</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{ request.user.get_image }}" class="img-circle elevation-2" alt="User Image" />
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ request.user.username }}</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">Módulos</li>
        <li class="nav-item has-treeview {% if 'empresa' in parent %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'empresa' in parent %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Empresa
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'user:user_list' %}" class="nav-link {% if 'usuario' in segment %} active {% endif %}">
                <i class="fas fa-user-friends nav-icon"></i>
                <p>Usuarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'calibus:bus_list' %}" class="nav-link {% if 'bus' in segment %} active {% endif %}">
                <i class="fas fa-bus nav-icon"></i>
                <p>Buses</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'calibus:route_list' %}" class="nav-link {% if 'ruta' in segment %} active {% endif %}">
                <i class="fas fa-road nav-icon"></i>
                <p>Rutas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'calibus:travel_list' %}" class="nav-link {% if 'viaje' in segment %} active {% endif %}">
                <i class="fas fa-map-marked-alt nav-icon"></i>
                <p>Viajes</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'calibus:travel_sale_list' %}" class="nav-link {% if 'venta_pasajes' in segment %}active{% endif %}">
            <i class="fas fa-ticket-alt nav-icon"></i>
            <p>Venta de Pasajes</p>
          </a>
        </li>
        
        <li class="nav-item has-treeview {% if 'envios' in parent %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'envios' in parent %}active{% endif %}">
            <i class="nav-icon fas fa-exchange-alt"></i>
            <p>
              Envíos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'calibus:parcel_list' %}" class="nav-link {% if 'encomienda' in segment %} active {% endif %}">
                <i class="nav-icon fas fa-dolly"></i>
                <p>Encomiendas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'calibus:remittance_list' %}" class="nav-link">
                <i class="nav-icon fas fa-hand-holding-usd"></i>
                <p>Giros</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="{% url 'calibus:client_list' %}" class="nav-link {% if 'cliente' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>Clientes</p>
          </a>
        </li>

        <li class="nav-item {% if 'layout' in parent %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'layout' in parent %}active{% endif %}">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>
              Recibos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-ticket-alt"></i>
                <p>Pasajes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-truck-loading"></i>
                <p>Encomiendas</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item {% if 'layout' in parent %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'layout' in parent %}active{% endif %}">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Reportes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-ticket-alt"></i>
                <p>Buses</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-dolly"></i>
                <p>Clientes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sale_report' %}" class="nav-link">
                <i class="nav-icon fas fa-dolly"></i>
                <p>Pasajes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-dolly"></i>
                <p>Encomiendas</p>
              </a>
            </li>
          </ul>
        </li>
        {% comment %} <li class="nav-item {% if 'layout' in parent %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'layout' in parent %}active{% endif %}">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>
              Seguridad
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-ticket-alt"></i>
                <p>Accesos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-dolly"></i>
                <p>Grupos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-dolly"></i>
                <p>Respaldos</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>Ventas</p>
          </a>
        </li> {% endcomment %}
      </ul>
    </nav>
  </div>
</aside>
