{% extends "list.html" %}
{% load static %}

{% block head_list %}
  <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
  <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
  <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

  <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
  <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
  <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

  <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
  <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

  <!-- <script src="{% static 'parcel/js/list.js' %}"></script> -->
  <script src="{% static 'remittance/js/form.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">
        {% if action == 'add' %}
            <i class="fas fa-plus"></i>
        {% else %}
            <i class="das fa-edit"></i>
        {% endif %}
        {{ title }}
      </h3>
    </div>
    <div class="card-body">
      <div class="card card-default">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Fecha:</label>
                {{ form.transaction_date }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Remitente:</label>
                <div class="input-group">{{ form.senderID }}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Consignatario:</label>
                <div class="input-group">{{ form.receiverID }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">
            Detalles de Giro
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Monto a enviar:</label>
                {{ form.amount_to_send }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Porcentaje de Comisión:</label>
                {{ form.commission_percentage }}
              </div>              
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Monto de Comisión:</label>
                {{ form.commission_amount }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Monto Total:</label>
                {{ form.total_amount }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Observaciones:</label>
                {{ form.notes }}
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      {% block buttons_list %}
        <a class="btn btn-primary btn-flat btnTest"><i class="fas fa-plus"></i> Enviar giro</a>
        <a href="{{ list_url }}" class="btn btn-success btn-flat"><i class="fas fa-sync"></i> Actualizar</a>
      {% endblock %}
    </div>
  </div>
{% endblock %} 