{% extends 'list.html' %}
{% load static %}
{% block head_list %}
  <script src="{% static 'bus/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
  <tr>
    <th scope="col" style="width: 5%;">Nro</th>
    <th scope="col" style="width: 10%;">Placa</th>
    <th scope="col" style="width: 15%;">Marca</th>
    <th scope="col" style="width: 10%;">Modelo</th>
    <th scope="col" style="width: 10%;">Capacidad</th>
    <th scope="col" style="width: 15%;">Imagen</th>
    <th scope="col" style="width: 10%;">Año</th>
    <th scope="col" style="width: 5%;">Estado</th>
    <th scope="col" style="width: 5%;">Opciones</th>
  </tr>
{% endblock %}

{% block rows %}
  {% for obj in object_list %}
    <tr>
      <td>{{ obj.id }}</td>
      <td>{{ obj.plate }}</td>
      <td>{{ obj.brand }}</td>
      <td>{{ obj.model }}</td>
      <td>{{ obj.capacity }}</td>
      <td class="text-center">
        {# {{ obj.image }} #}
        <img src="{{ obj.get_image }}" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px;" />
      </td>
      <td>{{ obj.year }}</td>
      <td>{{ obj.status }}</td>
      <td class="text-center">
        <a href="{% url 'calibus:bus_update' obj.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
        <a href="{% url 'calibus:bus_delete' obj.id %}" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
