{% extends 'list.html' %}

{% block columns %}
  <tr>
    <th scope="col" style="width: 10%;">Nro</th>
    <th scope="col" style="width: 70%;">Nombre</th>
    <th scope="col" style="width: 20%;">Opciones</th>
  </tr>
{% endblock %}

{% block rows %}
  {% for r in object_list %}
    <tr>
      <td>{{ r.id }}</td>
      <td>{{ r.name }}</td>
      <td>
        <a href="{% url 'calibus:role_update' r.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
        <a href="{% url 'calibus:role_delete' r.id %}" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
