{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-12 text-right">
                <label for="select-mes">Selecciona el mes:</label>
                <select id="select-mes" class="form-control d-inline-block" style="width:auto;">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6" selected>Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
        </div>
        <div class="row">
            <!-- Gráfico de barras: ocupa 8 columnas -->
            <div class="col-lg-8">
                <div id="container"></div>
            </div>
            <!-- Gráfico de pie: ocupa 4 columnas -->
            <div class="col-lg-4">
                <div id="container-pie" style="height: 400px;"></div>
            </div>
        </div>
        <br>
    </div>
    <script type="text/javascript">
        var graphcolumn = Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Reporte de ventas del año 2025'
            },
            subtitle: {
                text: 'Reporte de columnas'
            },
            xAxis: {
                categories: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Valores Bs.'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
        });

        var graphpie = Highcharts.chart('container-pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Boletos vendidos por bus en el mes de Junio del año 2025'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    },
                    size: '75%',
                }
            },
        });
        
        function get_graph_sales_year_month() {
            $.ajax({
                url: window.location.pathname,
                type: "POST",
                data: {
                    'action': 'get_graph_sales_year_month',
                    'year': 2025
                },
                dataType: "json",
            }).done(function(data) {
                if (!data.hasOwnProperty('error')) {
                    graphcolumn.addSeries(data);
                    return false;
                }
                message_error(data.error);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ' : ' + errorThrown);
            }).always(function(data) {
                
            });                
        }

        function get_graph_sales_tickets_year_month() {
            var mes = $('#select-mes').val();
            $.ajax({
                url: window.location.pathname,
                type: "POST",
                data: {
                    'action': 'get_graph_sales_tickets_year_month',
                    'month': mes
                },
                dataType: "json",
            }).done(function(data) {
                if (!data.hasOwnProperty('error')) {
                    // Limpiar el gráfico de pie
                    while (graphpie.series.length > 0) {
                        graphpie.series[0].remove(true);
                    }
                    // Cambiar el título dinámicamente
                    var meses = [
                        "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                        "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                    ];
                    var mesNombre = meses[parseInt(mes) - 1];
                    graphpie.setTitle({ text: "Boletos vendidos por bus en el mes de " + mesNombre + " del año 2025" });

                    graphpie.addSeries({
                        name: data.name || 'Buses',
                        colorByPoint: true,
                        data: data.data
                    });
                    return false;
                }
                message_error(data.error);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ' : ' + errorThrown);
            });
        }

        $(document).ready(function() {
            get_graph_sales_year_month();
            get_graph_sales_tickets_year_month();

            $('#select-mes').change(function() {
                get_graph_sales_tickets_year_month();
            });
        });
    </script>
{% endblock content %}
