{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-plus"></i>
          {{ title }}
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="form-group">
          <label for="">Roles:</label>
          {{ form.roles }}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </form>
  <script></script>
{% endblock %}
